@use "~@/styles/base/variables.scss" as *;

.shopContainer {
  padding: 20px;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.cartIcon {
  background: #333;
  padding: 5px 10px;
  border-radius: $border-radius;
  color: $primary;
  font-weight: bold;
}

.productGrid {
  display: grid;
  gap: 20px;
  margin-top: 30px;

  grid-template-columns: 1fr 1fr;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card {
  background-color: $dark-card;
  padding: 20px;
  border-radius: $border-radius;
  text-align: center;
}

.productImage {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.price {
  font-size: 18px;
  margin: 10px 0;
}

.buyButton {
  background-color: $primary;
  color: $text-light;
  border: none;
  padding: 10px 20px;
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    background-color: $primary;
  }
}

.footer {
  text-align: center;
  margin-top: 40px;
}

.loadMore {
  background-color: $primary;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    background-color: #ffc500;
  }
}
