@use "@/styles/base/variables.scss" as variables;

.card {
  background-color: variables.$dark-card;
  padding: 30px;
  border-radius: variables.$border-radius;
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 240px;
  justify-content: space-between;

  // Responsividade para tablets
  @media (max-width: 768px) {
    width: 200px;
    height: fit-content;
  }

  // Responsividade para dispositivos móveis
  @media (max-width: 480px) {
    width: 80%;
    height: fit-content;
  }
}

.productImage {
  width: 225px;
  height: 225px;
  margin: 0 auto;
  border-radius: variables.$border-radius;

  @media (max-width: 768px) {
    width: 180px;
    height: 180px;
  }

  @media (max-width: 480px) {
    width: 150px;
    height: 150px;
  }
}

.cardContent {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  @media (max-width: 480px) {
    padding-top: 20px;
  }
}

.price {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin: 0;
  padding: 20px 0;
  color: variables.$text-light;

  @media (max-width: 480px) {
    font-size: 18px;
    padding: 15px 0;
  }
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: variables.$text-light;

  @media (max-width: 480px) {
    font-size: 16px;
  }
}

.description {
  color: variables.$text-gray;
  font-weight: 300;
  font-size: 12px;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;

  @media (max-width: 480px) {
    font-size: 11px;
  }
}

.buyButton {
  background-color: variables.$primary;
  color: variables.$text-light;
  border: none;
  height: 50px;
  padding: 10px 26px;
  border-radius: variables.$border-radius;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background-color: variables.$primary;
  }

  @media (max-width: 480px) {
    font-size: 14px;
    height: 45px;
    padding: 8px 20px;
  }
}
