$primary: #ff8310 !default;
$dark-bg: #232323 !default;
$dark-button: #393939 !default;
$dark-card: #191a20 !default;
$text-light: #ffffff !default;
$text-gray: #cccccc !default;


$border-radius: 8px !default;